table, td {
  text-align: center;
  cursor: default;
  margin: auto;
}
table {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
body {
  background-color: white;
}
p {
  color: black;
  font-size: 150%;
  font-family: sans-serif;
  text-align: center;
}
.hidden {
  display: none;
}
#again {
  cursor: pointer;
  text-decoration: underline;
}